:root{
  --brown: #b17213; 
  --lightpink: #fbcfcd;
  --orange:#ff8901;
  --cremewhite: #fffbf1;
}

html{
  scroll-behavior: smooth;
}

.navbar{
  background-color: var(--brown);  
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  place-items: end;
  position: fixed;
}

.navbar ul{
  color: var(--lightpink);
  display: inline-flex;
  align-items: center;
  list-style-type: none; 
  margin: 25px 25px 25px 0;  
}

.navbar ul li {
  float: left;
  margin-left: 10px;
}

.navbar-button{
  background-color: var(--lightpink);
  color: var(--brown);
  padding: 9px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 550;
  border: none;
  place-items:start !important;
}

.navbar-button:hover{
  background-color: var(--orange);
  color: var(--cremewhite);
}

.pointer{
  cursor: pointer;
}

.navbar ul li a{
  text-decoration: none;
  color: var(--lightpink);
}

.skills ul{
  display: inline-table;
  place-items: left;
  list-style-type: none;  
  margin: 25px 25px 25px 0;  
}

/* Här är styling som gäller för hela sidan */
body {
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: var(--orange);
  margin: 0;
}

/* Här finns all styling för knappen */
.button {
  background-color: var(--cremewhite);
  color: var(--orange);
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.button:hover{
  background-color: var(--brown);
  color: var(--cremewhite);
}

/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: var(--brown);
}

ul{
  color: var(--brown);
}

/* Här är styling för about-me sektionen, den breda "boarden" med bilden i */
.about-me {
  background-color: var(--orange);
  padding: 150px 30px;
  color: var(--cremewhite);
  text-align: center;
  width: 100%;
}

/* Här är styling för bilden som ligger i about-me sektionen */
.about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för greatness sektionen */
.greatness {
  padding: 35px 30px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--cremewhite);
  
}

.middle{
  margin: 0 auto;
  padding: 35px 30px;
  width: 60%;
}

.skills{
  padding: 30px 30px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--cremewhite);
}

.div-cv-button{
  text-align: center;
}

.cv-button {
  background-color: var(--brown);
  color: var(--orange);
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.cv-button:hover{
  background-color: var(--orange);
  color: var(--brown);
}

/* Här är styling för footern på sidan */
footer {
  background-color: var(--lightpink);
  padding: 150px 30px;  
  width: 100%;
  color: var(--brown);
  text-align: center;
}

a top{
  text-decoration: none;
}