/*
    I det här dokumentet finns all styling för projektet
*/
html{
  scroll-behavior: smooth;
}

.navbar{
  background-color: #b17213;  
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  place-items: end;
}

.navbar ul{
  color:#fbcfcd;
  display: inline-flex;
  align-items: center;
  list-style-type: none; 
  margin: 25px 25px 25px 0;  
}

.navbar ul li {
  float: left;
  margin-left: 10px;
}

.navbar ul li a{
  text-decoration: none;
  color: #fbcfcd;
}

.skills ul{
  display: inline-table;
  place-items: left;
  list-style-type: none;  
  margin: 25px 25px 25px 0;  
}

/* Här är styling som gäller för hela sidan */
body {
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #ff8901;
  margin: 0;
}

/* Här finns all styling för knappen */
.button {
  background-color: white;
  color: #ff8901;
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Här är styling som gäller för alla rubriker och texter */
h1 {
  margin: 20px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: #b17213;
}

ul{
  color: #b17213;
}

/* Här är styling för about-me sektionen, den breda "boarden" med bilden i */
.about-me {
  background-color: #ff8901;
  padding: 150px 30px;
  color: white;
  text-align: center;
}

/* Här är styling för bilden som ligger i about-me sektionen */
.about-me img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för greatness sektionen */
.greatness {
  padding: 35px 30px;
  width: 60%;
  margin: 0 auto;
}

.skills{
  padding: 30px 30px;
  width: 60%;
  margin: 0 auto;
}

.div-cv-button{
  text-align: center;
}

.cv-button {
  background-color: #b17213;
  color: #ff8901;
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.cv-button:hover{
  background-color: #ff8901;
  color: #b17213;
}

/* Här är styling för footern på sidan */
footer {
  background-color: #fbcfcd;
  padding: 240px 300px;    
  margin: 0;
  width: auto;
  color: #b17213;
  text-align: center;
}

a top{
  text-decoration: none;
}